@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    animation: fadeIn 3s;
    background-image: url("pixelback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
        color: rgb(119, 250, 148);
    }
    10% {
        opacity: 0.5;
        color: red;
    }
    15% {
        opacity: 1;
        color: rgb(119, 250, 148);
    }
    20% {
        opacity: 0.5;
        color: red;
    }
    30% {
        opacity: 1;
        color: rgb(119, 250, 148);
    }
    35% {
        opacity: 0.5;
        color: red;
    }
    40% {
        opacity: 1;
        color: rgb(119, 250, 148);
    }
    45% {
        opacity: 0.5;
        color: red;
    }
    50% {
        opacity: 1;
        color: rgb(119, 250, 148);
    }
    60% {
        opacity: 0.5;
        color: red;
    }
    65% {
        opacity: 1;
        color: rgb(104, 104, 230);
    }
    70% {
        opacity: 0.5;
        color: red;
    }
    75% {
        opacity: 1;
        color: rgb(104, 104, 230);
    }
    80% {
        opacity: 0.5;
        color: red;
    }
    90% {
        opacity: 1;
        color:rgb(104, 104, 230);
    }
    95% {
        opacity: 0.5;
        color: red;
    }
    100% {
        opacity: 1;
    }
}

/* everything controlling the navbar */

.navbar {
    overflow: hidden;
    background-color: rgb(104, 104, 230);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    text-align: center;
}

.navbar a {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(236, 126, 126);
    cursor: pointer;
}

.navbar a:active {
    color: red;
}

/* this is the mainDiv for the title name and heading */

#name {
    animation: flicker 1s;
    animation-delay: 1s;
    margin-top: 200px;
    padding: 100px 0;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

#heading {
    text-align: center;
    margin-top: -100px;
    font-size: 25px;
    animation: flicker 1s;
    animation-delay: 1.5s;
}

.mainDiv {
    margin-top: -100px;
}

/* the main sections */

#home {
    top: 0;
}

#about {
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

#about:hover {
    animation: flicker 1s;
}

#contact {
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

#contact:hover {
    animation: flicker 1s;
}

#projects {
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

#projects:hover {
    animation: flicker 1s;
}

/* the menu decreasing for when changing screen size */

.navbar .icon {
    display: none;
}

@media screen and (max-width: 1300px) {
    .navbar a {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 1300px) {
    .navbar.responsive {position: fixed;}
    .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
}

.navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
}

/* this is for the font sizes to change for different screen sizes */

@media screen and (max-width: 1300px) {
    #name {
        font-size: 40px;
    }
    #heading {
        font-size: 20px;
    }
    #about {
        font-size: 40px;
    }
    #aboutP {
        font-size: 20px;
    }
    #contact {
        font-size: 40px;
    }
    #contactP {
        font-size: 20px;
    }
    #projects {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    #name {
        font-size: 3vw;
    }
    #heading {
        font-size: 2vw;
    }
    #about {
        font-size: 3vw;
    }
    #aboutP {
        font-size: 2vw;
    }
    #contact {
        font-size: 3vw;
    }
    #contactP {
        font-size: 2vw;
    }
    #projects {
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px) {
    #name {
        font-size: 3vw;
    }
    #heading {
        font-size: 2vw;
    }
    #about {
        font-size: 3vw;
    }
    #aboutP {
        font-size: 2vw;
    }
    #contact {
        font-size: 3vw;
    }
    #contactP {
        font-size: 2vw;
    }
    #projects {
        font-size: 3vw;
    }
}

/* feedback link */
.feedbackLink {
    color: white;
    margin-top: 20px;
}

.feedbackLink:hover {
    animation: flicker 1s;
}